In [1]:
import dhlab.module_update as mu

In [2]:
mu.update('dhlab_v2')

Updated file `C:\Users\yoons\Documents\Github\ngram\dhlab_v2.py`

In [3]:
import dhlab_v2 as d2

In [6]:
df = d2.ngram_book(word = ['noen', 'alle'])

In [7]:
tot = d2.ngram_book( word = ['.', ',']).sum(axis = 1)

In [8]:
#df.div(tot, axis = 0)

In [9]:
import os

In [10]:
os.listdir()

['.git',
 '.gitattributes',
 '.gitignore',
 '.ipynb_checkpoints',
 'app.json',
 'check_functions.ipynb',
 'dhlab_v2.py',
 'Dockerfile',
 'graph_networkx_louvain.py',
 'N-gram dewy.ipynb',
 'NB-logo-no-eng-svart.png',
 'nbtext.py',
 'ngram_st.py',
 'plott.png',
 'plott.svg',
 'Procfile',
 'README.md',
 'requirements.txt',
 'setup.sh',
 'startparams.py',
 'token_map.py',
 'Untitled.ipynb',
 '__pycache__']

In [38]:
d2.ngram_periodicals(word = ['katarr','øyekatarr', 'influensa'], title = '%norske%')

      influensa  katarr  øyekatarr
1950          4     1.0        NaN
1951          5     2.0        NaN
1952          9     NaN        NaN
1953         14     1.0        NaN
1954          5    10.0        NaN
1955         13     NaN        NaN
1956          8     1.0        NaN
1957         25     1.0        NaN
1958         39     2.0        NaN
1959         18     NaN        NaN
1960         31     2.0        NaN
1961         24     1.0        NaN
1962         10     1.0        NaN
1963         24     NaN        NaN
1964         23     1.0        NaN
1965         10     7.0        NaN
1966         17     NaN        NaN
1967         23     1.0        NaN
1968         21     NaN        NaN
1969         16     NaN        NaN
1970         14     NaN        1.0
1971         51     2.0        1.0
1972         11     NaN        NaN
1977          1     NaN        NaN
1978          2     NaN        NaN
1979          1     NaN        NaN
1980         11     NaN        NaN
1981         12     NaN        NaN
1982         25     1.0        3.0
1983         16     NaN        NaN
1984         19     NaN        NaN
1985         10     2.0        NaN
1986          8     NaN        NaN
1987         12     2.0        NaN
1988         13     NaN        NaN
1989          9     2.0        1.0
1990          9     1.0        NaN

In [50]:
def document_corpus(doctype = None, author = None,  from_year = None, to_year = None, title = None, ddk = None, subject = None, lang = None, limit = None):
    """ Fetch a corpus based on metadata - doctypes are digibok, digavis, digitidsskrift"""
    
    parms = locals()
    params = {x:parms[x] for x in parms if not parms[x] is None }
    
    for y in params:
        params[y]  = params[y].replace('.', '"."')
    r=requests.post(BASE_URL + "/build_corpus", json=params)
    
    return pd.DataFrame(r.json(), columns = ['urn', 'author', 'title','year'])

In [52]:
d2.concordance()

{}